.gradle
.nb-gradle
.settings
.classpath
.project
.DS*
bin
bin/
build
build/
private
private/
src/main/webapp/WEB-INF/classes/org/apache/jsp
src/main/webapp/WEB-INF/classes/org/apache/jsp/
target/
WebContent/
.vscode
.vscode/
